<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="h3 mb-3 font-weight-normal text-center" id="Publier">S'inscrire à l'évènement</h2><br>
        <h3>Votre inscription sera validée dès que le paiement sera effectué !</h3><br>
        <h4><u>Détails de l'évènement :</u></h4>
        <p style="font-size: 14px;">Titre : <%= @event.title.capitalize %></p>
        <p style="font-size: 14px;">Date : <%= @event.end_date.strftime("le %d/%m/%Y à %I:%M") %></p>
        <p style="font-size: 14px;"><%= link_to "Tous les détails", event_path(@event.id)%></p>


<%= form_tag url_for(action: 'create'), method: "post" do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span style="font-size: 14px;">Prix: <%= @event.price %>€</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @event.title%>"
          data-currency="eur"
          data-amount="<%= @amount %>"
          data-locale="auto"></script>
<% end %>




      </div>
    </div>
  </div> 