<script src="https://kit.fontawesome.com/e094d25800.js" crossorigin="anonymous"></script>

<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">

  <ul>

  <% @categories.each do  |category|%>
  <li id="<%= category.title %>"><%= category.title %></li>

  <div class="card">
    <ul>
      <% category.tasks.each do |task|  %>
      <li id="<%= task.title%>-<%= task.id%>">
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
          <%= link_to ('<i class="far fa-trash-alt" style="color: red;"></i>').html_safe, task_path(task.id), :method => :delete, :remote => :true%>

      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
