<div class="row mb-5">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="form-group">
      <%= form_tag url_for(action: 'update'), method: "patch" do %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="my-4">
        <%= label_tag 'Changer le nom du produit :' %>
        <%= text_field_tag :title, @item.title, class:'form-control' %>
      </div>
      <div class="my-4">
        <%= label_tag 'Changer sa description :' %>
        <%= text_area_tag :description, @item.description, class:'form-control' %>
      </div>
      <div class="my-4">
        <%= label_tag 'Changer son prix :' %>
        <%= text_area_tag :price_in_cents, @item.price_in_cents, class:'form-control' %>
      </div>   
      <div class="my-4">
        <%= label_tag "Changer l'url envoyée :" %>
        <%= text_area_tag :image_url, @item.image_url, class:'form-control' %>
      </div>   
      <div class="d-flex justify-content-center">
      <%= submit_tag "Enregistrer les modifications", class: "btn btn-dark"%>
      <%end%>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
