<table class="table" style="width: 60%;">
	<tbody>
		<tr class="table-light" >
			<th scope="row" style="width: 20%" >Titre : </th>
			<td><%= @event.title %></td>
		</tr>
		<tr class="table-light" >
			<th scope="row" >Date : </th>
			<td><%= @event.start_date %></td>
		</tr>
		<tr class="table-light" >
			<th scope="row">Lieu : </th>
			<td><%=  @event.location %></td>
		</tr>
		<tr class="table-light" >
			<th scope="row">Durée en minutes : </th>
			<td><%=  @event.duration %></td>
		</tr>
		<tr class="table-light" >
			<th scope="row">Description : </th>
			<td><%=  @event.description %></td>
		</tr>
		<tr class="table-light">
			<th scope="row">Validation : </th>
			<td>
				<% if @event.validated == true %>
					<p>Validé et publié</p>
					<%= button_to "Dépublier l'évènement", admin_event_submission_path(@event.id), class:"btn btn-danger", method:"delete" %>
				<% else %>
					<%= button_to "Publier l'évènement", admin_event_submission_path(@event.id), class:"btn btn-warning", method:"patch" %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table><br><br>

<br>
<br>
<%= button_to "Modifier les informations de l'évènement", edit_admin_event_path(@event.id), class:"btn btn-warning", method:"get" %>
<br>
<br>
<%= button_to "Supprimer l'évènement", admin_event_path(@event.id), class:"btn btn-danger", :method => :delete, data: { confirm: 'Souhaitez-vous supprimer définitivement cet évènement ?' } %>